{% extends "base.html" %}

{% block content %}
    <h1>Menu</h1>
    <div style="display: flex; flex-direction: column; gap: 10px;">
        <a href="/daycares/favorita">See information about La favorita</a>
        <a href="/daycares">See all daycares</a>
        <a href="/caretakers">See all caretakers</a>
        <a href="/dogs">See all dogs</a>
        <a href="/caretakers/mario">Assign dogs to Mario</a>
        <a href="/dogs/search/Lassie">Ammount of dogs named Lassie</a>
    </div>
{% endblock %}